.navbar {
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.15);
  height: $header-height;
  z-index: 1000;
  background-color: $header-bg;
}

.sidebar {
  position: fixed;
  top: $header-height - 1;
  left: 0;
  bottom: 0;
  z-index: 100;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  width: $sidebar-width;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include media-breakpoint-down(md) {
    width: $sidebar-width-mobile;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

.main {
  padding-left: $sidebar-width;

  @include media-breakpoint-down(md) {
    padding-left: $sidebar-width;
  }

  .main-content {
    padding: 1rem;
  }
}

.sidebar-nav {
  display: flex;
  flex-direction: column;

  .nav-item {
    padding: 0 .75rem;
  }

  .nav-link {
    position: relative;
    padding: 0.35rem .5rem;
    margin: .1rem 0;
    display: flex;
    align-items: center;
    color: inherit;
    font-weight: 500;

    .Polaris-Icon {
      width: 1.1rem;
      height: 1.1rem;
      display: inline-flex;
      margin: 0 .5rem 0 0;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: .25rem;
      background-color: rgba(0, 0, 0, .05);
      opacity: 0;
      transition: opacity .2s ease-in-out;
    }

    &:hover {
      &:after {
        opacity: .5;
      }
    }

    &.router-link-active {
      color: $primary;

      &:after {
        opacity: 1;
      }

      &:before {
        content: '';
        position: absolute;
        top: .1rem;
        bottom: .1rem;
        left: -0.75rem;
        width: .15rem;
        border-radius: .35rem;
        background-color: $primary;
      }
    }
  }
}
