// Color
$primary: #635bff;
$font-size-base: math.div(14rem, 16);

// Layouts
$header-height: 60px;
$header-bg: #fff;
$sidebar-width: 240px;
$sidebar-width-mobile: 64px;

// Box shadows
$color-shadow-ambient: rgba(60,66,87, 0.12);
$color-shadow-key: rgba(0, 0, 0, 0.12);
